html, body{
    margin:0%;
    box-sizing: border-box;
    overflow-x:hidden;
}

/* Start Global Classes*/

a{
    text-decoration: none;
    color: #34421E;      
}

.flex-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

ul{
    list-style-type: none;
    
}

h1{
    font-family:'radley';
    font-size: 2.5rem;
}

h2{
    font-family: 'Lexend';
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size:1rem;
    font-family: 'Livvic';
    font-weight: bold;
    cursor: pointer;

}
/* End Global Classes*/


/*Start Nav Bar*/
.nav{
    background:#F1F1EF;
    padding: 0.20rem;
    height: 0rem;
    min-height: 16vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    
}
.nav .nav-menu{
    justify-content:space-between ;
}

.nav .toggle-collapse{
    position: absolute;
    top:0%;
    width:90%;
    cursor:pointer;
    display:none;

}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;

}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: #34421E;
    
}

.collapse{
    height: 40rem;
}

.nav .nav-items{
    display:flex ;
    margin:0;
    
}

.nav .nav-items .nav-link{
    padding: 2.5rem 1rem;
    font-size: 1.4rem;
    position: relative;
    font-family: 'radley';
    font-weight: bold;
           
}

.nav .nav-items .nav-link:hover{
    background-color:#e4ba60;
}

.nav .social{
    padding: 1.4rem 0.7rem;
    color: #34421E;
}

.nav .social i{
    padding: 0.2rem;
   
}

.nav .social i:hover{
    color:#C19434;
}

.logo{
    max-width: 100%;
    height: auto;
    display: block;
    
}

/*End Nav Bar*/

/*Start Main Content*/

 /*Start title*/
main .site-title{
    background-image: url(https://cdn.pixabay.com/photo/2015/10/12/15/01/mountain-984083_960_720.jpg);
    background-size: cover;
    height: 120vh;
    display: flex;
}

main .site-title .site-background{
    padding-top:10rem;
    padding-left: 10rem;
    text-align: center;
    color: #F1F1EF;
}

main .site-title h1, h3{
    margin:3rem;
    
}

main .site-title .btn{
    margin: 1.8rem;
    background: #F1F1EF;
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid #F1F1EF;

}
  /*End title*/

   /*Start Carousel*/
main .tips p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    color: #34421E;
}

main .tips{
    width: 100%;
    height: auto;
}
main .tips .tips-post{
    padding-top: 0.5rem;
}

main .tips-post .tips-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .tips-content .tips-text{
    padding: 2rem 0rem;

}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

   /*End Carousel*/

/*End Main Content*/

/* Start Footer */

footer.footer{
    height: 100%;
    background:#F1F1EF;
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;

}

footer.footer .container h2{
    color: #34421E;
}

footer.footer .newsletter .form-element{
    background:#34421E;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color:#F1F1EF;
    font-family: "Josefin";
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: #34421E;
    padding: .5rem .7rem;
    cursor: pointer;
    
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color:#34421E;
    padding: 0 .2rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: "£Josefin";
}

footer.footer .rights h4 a{
    color:#34421E;
}

footer.footer .move-up{
    position: absolute;
    right: 4%;
}

footer.footer .move-up span{
    color: #C19434;
}

footer.footer .move-up span:hover{
    color: #34421E;
    cursor: pointer;
}

/*End Footer */

/*Start Responsiveness - Viewport less then or equal to 1130px*/

@media only screen and (max-width: 1130px){
     footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*Start Responsiveness - Viewport less then or equal to 520px*/
@media only screen and (max-width: 520px){
    main .tips{
        height: 125vh;
    }
    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*Start Responsiveness - Viewport less then or equal to 750px*/
@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
       flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
/*End Responsiveness - Viewport less then or equal to 750px*/


/*Gear Page*/

main .gear-title{
    background-size: cover;
    height: 110vh;
    display: flex;
}


main .gear-title .gears-gallery{
    padding-top:1rem;
    padding-left: 5rem;
    text-align: center;
    color: #34421E;
}
